.DS_Store
schematics/symbols/ATSAM3C2U_ADC_10-bit.mksym
schematics/symbols/ATSAM3C2U_ADC_12-bit.mksym
schematics/symbols/ATSAM3C2U_EBI.mksym
schematics/symbols/ATSAM3C2U_FFPI.mksym
schematics/symbols/ATSAM3C2U_HSMCI.mksym
schematics/symbols/ATSAM3C2U_I2C.mksym
schematics/symbols/ATSAM3C2U_IO_A.mksym
schematics/symbols/ATSAM3C2U_IO_B.mksym
schematics/symbols/ATSAM3C2U_JTAG.mksym
schematics/symbols/ATSAM3C2U_NFC.mksym
schematics/symbols/ATSAM3C2U_Oscillators.mksym
schematics/symbols/ATSAM3C2U_Power.mksym
schematics/symbols/ATSAM3C2U_PWM.mksym
schematics/symbols/ATSAM3C2U_Reset.mksym
schematics/symbols/ATSAM3C2U_SMC.mksym
schematics/symbols/ATSAM3C2U_SPI.mksym
schematics/symbols/ATSAM3C2U_SSC.mksym
schematics/symbols/ATSAM3C2U_Timers.mksym
schematics/symbols/ATSAM3C2U_UART.mksym
schematics/symbols/ATSAM3C2U_USART.mksym
schematics/symbols/ATSAM3C2U_USB.mksym
schematics/symbols/ATSAM3C2U_Wakeup.mksym
schematics/symbols/LM2596S-3.3.mksym
schematics/symbols/micro-sd.mksym
